{% extends 'post/body.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Epic introduces Fortnite Zero Build, a permanent battle royale mode with no building
                    </h2>
                    <span>Published: 27/03/2022</span>
                    <img src="{% static 'core/img/fort.jpg' %}" alt="img">
                     <p>
                        Players will now be able to find Zero Build on the Discover page offering solo, duo, trio, and squad playlists of action without any resource farming or impromptu structures in sight. Battles will be decided on the skill of players' gunplay, gadget handling, and traversal expertise, much like in rival battle royal experiences.

                     </p>
                     <br>
                     <p>To balance the lack of cover and new time-to-kill ranges, Epic has given recharging Overshields to everyone playing the mode. The new mobility features that arrived with the seasonal update like sprinting, zipline Ascenders, and mantling will also help in getting around quickly to outmaneuver opponents.</p>
                     <br>
                     
                        <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/BIFM5e4OFfI" frameborder="0" allowfullscreen></iframe>
                </article>

              
{% endblock content %}

