{% extends 'post/body.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Battlegrounds Mobile India Getting Lamborghini With Latest Update, Players Can Now Access 8 New Skins</h2>
                    <span>Published:25/03/2022</span>
                    <img src="{% static 'core/img/bgmi_lamborghini_twitter_1648210577081.webp' %}" alt="img">
                    <p>Battlegrounds Mobile India-maker Krafton is collaborating with luxury sportscar brand Lamborghini to bring flashy new vehicles to the game. The Lamborghini Crate will be available on online multiplayer battle royale starting Friday, March 25. The new Crate will make eight Lamborghini skins available via the in-game store and events. BGMI players also stand a chance to win hidden Lamborghini skins through a lucky spin. The collaboration marks the fourth time Krafton is teaming up with leading automobile makers to bring exciting new cars to the game.</p>
                      <br>
                    <p>BGMI players can access the Lamborghini Crate from March 25 to May 3. The Crate comes with six skins that's available via the in-game store. The skins included in the crate are Lamborghini Aventador SVJ Verde Alceo, Lamborghini Estoque Metal Grey, Lamborghini URUS Giallo Inti, Lamborghini Aventador SVJ Verde, Lamborghini Estoque Oro, and Lamborghini Urus Pink. Lamborghini Urus Giallo Inti and Pink are the first skins from Russian automobile manufacturer UAZ that will be introduced to BGMI.
                                 <br>
                        Upon collecting all the six Lamborghini skins from the crate BGMI players will be led to a hidden page of the secret exchange store. Players will receive a hidden Lamborghini skin from here. Claiming the first hidden Lamborghini skin will lead to a second secret page.</p>
                        <br>
                    <p>Once the player claims the first hidden Lamborghini skin, the second secret page can be opened by clicking the button on the top left corner of the Event Shop in BGMI.
                                 <br>
                        Two Lamborghini skins are additionally made available through an in-game event — Lucky Spin – Speed Drift. Through this, BGMI players stand a chance to win a lucky medal which can then be exchanged for Lamborghini vehicle skins from the Event Shop in the game.
                                   <br>
                        The collaboration with Lamborghini is not Krafton's first collaboration with a leading carmaker. The South Korean gaming company has earlier collaborated with automobile industry giants like McLaren, Tesla, and Koenigsegg.
                        </p>
                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/UzOYFtpQfnE" frameborder="0" allowfullscreen></iframe>
                </article>

{% endblock content %}        
             
                           