{% extends 'post/body.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">New Call of Duty 2022: everything we know about Modern Warfare 2</h2>
                    <span>Published: 23/03/2022</span>
                    <img src="{% static 'core/img/cod.webp' %}" alt="img">
                     <p>Call of Duty 2022 is in development with Infinity Ward and we know that it’s going to be a sequel to 2019’s Modern Warfare, effectively making it a reboot of 2009's Modern Warfare 2.</p>
                     <br>
                     <p>But while news that a new Call of Duty is in development certainly isn't a surprise, Microsoft’s planned acquisition of series publisher Activision Blizzard certainly raised a few eyebrows, with the announcement raising questions over the Call of Duty series' future on PlayStation.</p>

                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/HagbDt1VO_M" frameborder="0" allowfullscreen></iframe>
                </article>

{% endblock content %}

             
                            