{% extends 'post/body.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">GTA+ Subscription Service for GTA Online on PS5 and Xbox Series S/X Announced</h2>
                    <span>Published: 27/03/2022</span>
                    <img src="{% static 'core/img/gta_plus_rockstar_games_1648463434561.webp' %}" alt="img">
                    <p>Starting from Tuesday, GTA+ members will get GTA$500,000 (in-game currency) delivered to their Maze Bank account every month, and a 3x boost on GTA$ and RP gained from Hao's Special Works Race Series. Subscribers won't have to pay the membership fee for the LS Car Meet, and gamers who have already paid will be reimbursed GTA$50,000, according to Rockstar Games. GTA+ members can also purchase Shark Cards with extra bonus in-game cash that are members-only and available via the Xbox Store and PlayStation Store.
                        <br>
                        Ads by 
                        Gamers who have subscribed to GTA+ will also gain a complimentary Hao's Special Works upgrade before the general public can purchase it, along with HSW Orange Trip and HSW CMYK Glitch Liveries. Meanwhile, Auto Shop owners can relocate to La Mesa — with an assortment of updates from Los Santos Tuners — at no extra cost, with a GTA+ subscription.
                        <br>
                        Cosmetics, such as the Gussét Frog Tee and Broker Prolaps Basketball Top and Shorts, will automatically be added to players' wardrobes, once they subscribe to GTA+. Conveyor Livery for the Mammoth Avenger, HVY APC, and TM-02 Khanjali will also be available from Tuesday. GTA+ will also provide subscribers with a selection of free paints and emblems from the Auto Shop. Meanwhile, yacht owners can upgrade to the Aquarius Super Yacht for free with a GTA+ subscription.</p>
                        <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/2aJNeZTN0OQ" frameborder="0" allowfullscreen></iframe>
                </article>
 
{% endblock content %}


            
                            
