{% extends 'post/body.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Best games like PUBG Mobile: BGMI, Call of Duty Mobile, Free Fire MAX, and more</h2>
                    <span>Published: 26/03/2022</span>
                    <img src="{% static 'core/img/bgmi.webp' %}" alt="img">
                    <p>While the PC version is not as popular, the mobile version was a monumental success in the country with millions of players hooked onto the game ever since its arrival.</p>
                    <br>
                    <p>However, just after two years of its launch, PUBG Mobile had to face a lot backlash in the country as it was reportedly affecting students especially during examinations. The game was subsequently banned by the Indian government alongside a number of apps due to their Chinese origin and the fact that they posed a threat to national security. </p>
                    <br>
                    <p>While PUBG Mobile is still banned, there are loads of games that offer similar gameplay including popular battle royale mode. </p>
                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/C5kSEWt02sg" frameborder="0" allowfullscreen></iframe>
                </article>
 
                
{% endblock content %}


