{% extends 'post/body.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Epic Games Store Spring Sale 2022: Cyberpunk 2077, Horizon Zero Dawn, and More</h2>
                    <span>Published:25/03/2022</span>
                    <img src="{% static 'core/img/cyberpunk_2077_xbox_series_x_review_1608123363995.webp' %}" alt="img">
                    <p>Epic Games Store Spring Sale 2022 is live and brings discounts on popular AAA titles like Cyberpunk 2077, Horizon Zero Dawn, Red Dead Redemption 2, and more. Hundreds of games are going on sale which will last until April 7 at 8:30pm IST / 11:00am ET. The online storefront is offering up to 75 percent discount on PC games and add-ons. There is also a special Spring Deal for Eve Online, a free-to-play space sandbox game with PvE and PvP battles.</p>
                     <br>
                    <p>Epic Games announced the Spring Sale 2022 on Thursday. The sale began on Thursday itself and will run for two weeks. The sale sees Farming Simulator 22 get a discount on the online storefront for the first time.</p>
                     <br>
                    <p>Epic Games Store Spring Sale 2022 best deals
                        Farming Simulator 22 at Rs. 1,999.20 — 20 percent off
                         <br>
                        Deathloop at Rs. 1249.50 — 50 percent off
                          <br>
                        Red Dead Redemption 2 at Rs. 1,599.50 — 50 percent off
                           <br>
                        Cyberpunk 2077 at Rs. 1,499.50 — 50 percent off
                          <br>
                        Borderlands 3 at Rs. 747.50 — 75 percent off
                          <br>
                        Kena: Bridge of Spirits at Rs. 610.35 — 35 percent off</p>
                        <br>
                        Chivalry 2 at Rs. 629.13 — 33 percent off
                           <br>
                        Horizon Zero Dawn at Rs. 1,649.50 — 50 percent off
                            <br>
                        Disco Elysium at Rs. 357.60 — 60 percent off
                             <br>
                        Far Cry 6 Standard Edition at Rs. 1,499.50 — 50 percent off
                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/30pAg8SqvhA" frameborder="0" allowfullscreen></iframe>
                </article>

{% endblock content %}

             
              