{% extends 'post/body.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">New State Mobile 'Play Erangel 2051' Event Goes Live; Limited-Time Challenges, Special Rewards</h2>
                    <span>Published:25/03/2022</span>
                    <img src="{% static 'core/img/new_state_mobile_march_2022_update_mclaren_1648204963308.webp' %}" alt="img">
                    <p>New State Mobile (formerly PUBG New State) recently released its March update for Android and iOS that brought the McLaren 765LT supercar to the game. This update also introduced a new location to the Erangel 2051 map. To celebrate this change, Krafton has launched the Play Erangel 2051 event. The event adds two limited-time challenges to the game with special entrance criteria. Eligible New State Mobile players can participate in both of the challenges to earn various rewards. The winners will be based on the points earned by the end of the event.</p>
                      <br>
                    <p>Krafton shared the details regarding New State Mobile's Play Erangel 2051 event on their official website. The event began on March 24 at 2:30pm IST / 9:00am UTC and is set to last until March 30 at 5:29am IST / 11:59pm UTC. It features two limited-time challenges for players who drop in the Erangel 2051 map. Players can participate and win rewards in both of the challenges.</p>
                      <br>
                    <p>As mentioned earlier, Krafton will decide on the winners based on the players' stats at the end of the New State Mobile Play Erangel 2051 event. The rewards will be sent through in-game email starting from April 7 at 2:30pm IST / 9:00am UTC. Players should note that they might get disqualified if Krafton notices irregular in-game behaviour like intentional defeat.</p>
                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/fAy5ungyQ-M" frameborder="0" allowfullscreen></iframe>
                </article>

{% endblock content %}


             
                           