{% extends 'post/body.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Call of Duty: Vanguard Multiplayer Mode Is Free to Access for 2 Weeks</h2>
                    <span>Published: 30/03/2022</span>
                    <img src="{% static 'core/img/call_of_duty_vanguard_free_access_gondola_map_activision_1648532792198.webp' %}" alt="img">
                    <p>Activision is giving players limited access to Call of Duty: Vanguard Multiplayer for a short duration starting later this week. During the Free Access period, the latest Call of Duty title will let players experience the game through select Multiplayer maps and modes. Call of Duty: Vanguard Season 2 Free Access gets two new maps, along with a new large-map objective mode set in the Alps. Call of Duty also recently announced that Snoop Dogg will be available to players as a special operator in its Vanguard, Warzone, and Mobile titles.</p>
                      <br>
                    <p>Through a blog post, Activision announced that Call of Duty: Vanguard is giving a limited-time Free Access to players for two weeks from March 30 to April 13. The Free Access period will be limited to the Multiplayer mode and include the new maps in Season 2 — Casablanca and Gondola. The former is a medium-sized, three lane map that is said to engage players in close- and long-range tactics. Gondola is also a medium-sized, three lane map but one that focuses more on close-quarters combat.</p>
                     <br>
                    <p>A new large-map objective mode set in the Alps will also be available to players during Call of Duty: Vanguard's Free Access period. The new mode comes with the objective of capturing all bases to win the match. The map will also contain certain buy stations where players can purchase weapons, equipment, killstreaks, field upgrades, and custom loadouts.</p>
                      <br>
                    <p>Furthermore, Call of Duty: Vanguard Free Access includes a Multiplayer playlist that features maps like Shipment, Das Haus, Hotel Royale, Dome, and Radar. These maps can be played in Domination, Control, and Hardpoint modes.</p>
                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/H8VqC_y4u8U" frameborder="0" allowfullscreen></iframe>
                </article>

{% endblock content %}


             
                           