{% extends 'post/body.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">GRAND THEFT AUTO V
                        GTA 5 new-gen version releasing on March 15, check India price for PS5, Xbox Series X|S</h2>
                    <span>Published: 27/03/2022</span>
                    <img src="{% static 'core/img/gta5.webp' %}" alt="img">
                    <p>GTA 5 new-gen version features new graphics modes including up to 4K resolution, a framerate of up to 60 frames per second, improved texture qualities, HDR options and ray tracing, faster loading times, immersive 3D audio, platform-specific features, and more.</p>
                    <br>
                    <p>India Prices of GTA 5 new-gen version for PS5, Xbox Series X
                        GTA 5 PS5 version (both the Story Mode and GTA Online) is priced at Rs 2,799. You can get it at an introductory price of Rs 700 on the PlayStation Store until June 14. GTA Online is available separately for Rs 1,399. It will be made available for free to PS5 players for its first three months on the platform. The GTA 5 Xbox version too is priced at Rs 2,799. You can get it at a discounted price of Rs 1,399 until June 14. While GTA Online on Xbox is currently available at Rs 700.</p>
                        <br>
                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/IIAq4rrV7hE" frameborder="0" allowfullscreen></iframe>
                </article>
                
{% endblock content %}


         