{% extends 'post/body.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Marvel's Avengers game to get early access on Google Stadia</h2>
                    <span>Published: 28/03/2022</span>
                    <img src="{% static 'core/img/marvels.webp' %}" alt="img">
                      <p>Square Enix is already available on pre-orders for a while on other platforms such as Xbox, Steam and PlayStation but Google Stadia was left out, reports 9to5Google.</p>
                      <br>
                      <p>A key difference between Stadia and other platforms that have early access is the lack of a requirement to buy the game via pre-order. Early access also comes with the Marvel Legacy outfits.

                        Developed by Crystal Dynamics, Marvel's Avengers will reportedly offer both co-op and single-player gameplay along with a wealth of familiar faces including Captain America, Iron Man, the Hulk and Thor.</p>

                            <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/4Udah6_JIRA" frameborder="0" allowfullscreen></iframe>
                </article>
 
{% endblock content %}
                          