{% extends 'post/body.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Ubisoft possibly developing new Prince of Persia game
                    </h2>
                    <span>Published: 27/03/2022</span>
                    <img src="{% static 'core/img/pop.jpg' %}" alt="img">
                    <p>
                        According to XFire's Tom Henderson, the publisher is working on a new Price of Persia game. There's a Prince of Persia: The Sands of Time Remake in development, but this new title will be a 2.5D platformer along the lines of Ori and the Blind Forest or Ori and the Will of the Wisps. Henderson said the following.

                    </p>
                    <br>
                    <p>
                        loved the original Prince of Persia games and I'm hoping it'll be a complex experience like the Ori titles. However, only time will tell. It'll be interesting to see if the team at Ubisoft Montpellier can capture what made the originals so great to begin with.
                      <br>
                        Henderson has a reputation of being correct when it comes to leaking games so chances are this is accurate as well.
                    </p>
                        <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/znbZDPZYaPs" frameborder="0" allowfullscreen></iframe>
                </article>
 
{% endblock content %}

           
                           