{% extends 'post/body.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="container-main">
            <main>
                <article>
                    <h2 class="heading-data">Far Cry 6 Free Weekend Timings Announced, to Include Stranger Things Crossover Mission</h2>
                    <span>Published:24/03/2022</span>
                    <img src="{% static 'core/img/far_cry_6_stranger_things_the_vanishing_netflix_ubisoft_1648126593406.webp' %}" alt="img">
                    <p>Far Cry 6 is hosting a free weekend for gamers from Thursday, March 24 to Monday, March 28, allowing new players to access the game at no cost on PC, PlayStation 4, PlayStation 5, Xbox Series S/X, and Xbox One, over the weekend. That will include the new Stranger Things crossover mission — inspired by the popular Netflix series of the same name — assuming you've completed the necessary missions to access it. Gamers who do not have a copy of the game can also purchase the game and the Season Pass at discounted prices, Ubisoft has announced.</p>
                     <br>
                    <p>Gamers can pre-load Far Cry 6 on PC, PS4, and PS5 granting them access to the full game later on Thursday — including all free downloadable content published so far, and The Vanishing, an upcoming Stranger Things crossover mission that was recently announced by the publisher.
                            <br>
                        Ubisoft also shared a chart revealing the release time for different regions. The Far Cry 6 free weekend will be available to play in India starting Thursday, March 24 at 11:30pm IST / 11am PT on Ubisoft Connect and the Epic Games Store, PS4, PS5, Xbox One, and Xbox Series S/X. The free weekend will end on Monday, March 28 at 11:30pm IST / 11am PT, Ubisoft has revealed.</p>
                        <br>
                    <p>As previously mentioned, gamers will also have access to The Vanishing, a new crossover mission with Netflix's Stranger Things that adds stealth-horror-survival gameplay to Far Cry 6. Gamers who log in to the game on Thursday will enter a ‘twisted' version of Yara, which Ubisoft says is inspired by the Upside-Down, complete with a hidden bunker and an abandoned laboratory. As Yarans begin to disappear, Dani must set out to look for Chorizo and locate the island's residents who have been spirited away.</p>
                     <br>
                     <p>Once the Far Cry 6 free weekend ends, gamers who want to keep playing the popular title can purchase the game for PC at a 50 percent discount from the Ubisoft Store and the Epic Games Store (Standard, Gold, Deluxe editions) as part of the Spring Sale. Gamers can pick up the Season Pass at 35 percent off from the Epic Games Store, and avail of a 35 percent and 25 percent discounts on the Vaas: Insanity DLC and the Pagan: Control DLC, respectively. Google Stadia users can also buy the game at a 50 percent discount on the Standard, Gold and Ultimate editions and 35 percent off the Season Pass, from March 24 – March 31.</p>
                    <iframe  class="framedata" width="625" height="315" src="https://www.youtube.com/embed/FZ8TVw8anjQ" frameborder="0" allowfullscreen></iframe>
                </article>


{% endblock content %}

