@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

body {
    background-color: rgb(26, 25, 25);
}


/*------------------- HEADER_CABECALHO -----------------*/

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 54px;
    /*border: 1px solid grey;*/
    display: flex;
    align-items: center;
    background-color:black;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#menu {
    list-style: none;
    display: flex;
}

#menu li {
    margin-left: 12px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: bold;
}

#menu li a:hover {
    color: chocolate;
}

#menu li a,
#cabecalho a {
    text-decoration: none;
    color: rgb(247, 241, 241);
}

#logo {
    font-weight: bold;
    font-size: 19px;
}


/*------------------- BANNER -----------------*/

#banner {
    margin-top: 54px;
    width: 100%;
    height: 150px;
    /* border: 1px solid grey;*/
    background-image: url(img/montanha.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-main {
    display: flex;
    /* border: 1px solid grey;*/
}

main {
    padding: 0 5px;
    width: 70%;
    /*border: 1px solid grey;*/
}

b h1 {
    color: white;
    text-align: center;
}

aside {
    padding: 0 5px;
    width: 30%;
}

.container-main article {
    /*border: 1px solid grey;*/
    padding: 10px;
    background-color: white;
    margin: 15px 0;
}

.container-main article span {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    color: grey;
}

.container-main article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.submit-btn {
    color: black;
    border-radius: 3px;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit-btn:hover {
    background-color: #4242424f;
}

.container-main article p {
    text-align: justify;
    text-indent: 20px;
    line-height: 25px;
}

.container-main article a {
    display: inline;
    text-decoration: none;
    margin: 10px 0;
}

.aside-item {
    margin: 15px 0;
    background-color: white;
}

.aside-item h2 {
    font-weight: lighter;
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.aside-item p {
    padding: 10px;
}


/*Sobre mim*/

#sobreMim img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 5px auto;
    border-radius: 50%;
    object-fit: cover;
}

#sobreMim h3 {
    text-align: center;
}

#sobreMim p {
    text-align: justify;
    text-indent: 20px;
}


/*categorias*/

#categorias-links {
    padding: 5px;
}

#categorias-links ul li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

#categorias-links ul li a {
    font-weight: 700;
    color: rgb(63, 63, 63);
}

#categorias-links ul li a span {
    padding: 2px;
    background-color: grey;
    color: white;
}

#categorias-links ul li a:hover {
    color: grey;
}


/* pagination */

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#tags-popular {
    padding: 5px;
}

#tags-popular a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 2px 15px;
    border-radius: 25px;
    margin: 5px 0;
}

#tags-popular a:hover {
    background-color: rgb(104, 104, 104);
}


/*-------------------- search Bar-------------- */

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #cc004e;
    /* padding: 5px; */
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #e91717;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 45px;
    height: 45px;
    opacity: 0;
    cursor: pointer;
}

.search:before {
    position: absolute;
    right: -50px;
    width: 45px;
    height: 40px;
    line-height: 36px;
    background: #dd3f3f;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-family: 'FontAwesome';
    content: '\f002';
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 60%;
    margin: 10% auto;
    margin-top: 0px;
}


/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    padding: 15px;
    /* margin-top: 15px;*/
}

footer a {
    text-decoration: none;
    color: rgb(240, 138, 6);
}

footer strong span{
    color: white;
    font-weight: lighter;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .container-main {
        flex-direction: column;
    }
    .container-main article img {
        width: 100%;
        height: 300px;
    }
    main,
    aside {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .aside-item,
    .container-main article {
        margin-top: 15px;
    }
    .aside-item {
        margin-bottom: 15px;
    }
    #sobreMim img {
        width: 200px;
        height: 200px;
    }
}